body
{
	direction: ltr; 
        background: url(background.gif);
        background-color: #01334B;
        margin:          			5px;
	border:          			0px;
	scrollbar-face-color: 		#004B69; 
	scrollbar-track-color:		#456778; 
	scrollbar-arrow-color:		#CCCCCC;
	scrollbar-shadow-color: 	#CCCCCC; 
	scrollbar-darkshadow-color:	#456778; 
	scrollbar-highlight-color:	#CCCCCC; 
	scrollbar-3dlight-color:	#456778; 
}
.media { font-family: Arial Narrow;
font-size: 12px;
color: rgb(255, 255, 255);
font-weight: bold;
}
.cat { font-family: Arial,Helvetica,sans-serif;
font-size: 11px;
color: rgb(68, 181, 254);
text-tranform: uppercase;
}
.title { font-family: Arial,Helvetica,sans-serif;
font-size: 15px;
color: rgb(255, 255, 255);
font-weight: bold;
text-transform: uppercase;
}
.original { font-family: Arial,Helvetica,sans-serif;
font-size: 14px;
color: rgb(255, 255, 255);
font-weight: bold;
font-style: italic;
}
.caption { font-family: Arial,Helvetica,sans-serif;
font-size: 10px;
line-height: 20px;
color: rgb(68, 181, 254);
}
.info { font-family: Arial;
font-size: 11px;
color: rgb(204, 204, 204);
}
.details { font-family: Arial,Helvetica,sans-serif;
font-size: 11px;
color: rgb(204, 204, 204);
}
.tech { font-family: Arial Narrow;
font-size: 12px;
line-height:20px;
color: rgb(204, 204, 204);
font-weight: bold;
text-transform: uppercase;
text-decoration: underline;
}
.search { font-family: Arial,Helvetica,sans-serif;
font-size: 1px;
}
a {text-decoration: none;
color: rgb(204, 204, 204);
}
a:visited { color: rgb (204, 204, 204);
text-decoration: none;
}
a:hover { color: rgb(255, 102, 0);
text-decoration: underline;
}
.formatted { font-family: Arial,Helvetica,sans-serif;
font-size: 10px;
color: rgb(68, 181, 254);
}
.a.formatted:hover { color: rgb(255, 102, 0);
text-decoration: none;
}
.a.formatted:visited { color: rgb (204, 204, 204);
text-decoration: none;
}
.stat { font-family: Verdana,Arial,Helvetica,sans-serif;
font-size: 10px;
color: rgb(255, 255, 255);
}
