filenotfound  PNG "filenotfound.png"
filenotfound2 PNG "filenotfound2.png"
nopicture     PNG "nopicture.png"
nopicture2    PNG "nopicture2.png"
loading BMP "loading.bmp"
appr0 GIF "appr0.gif"
appr1 GIF "appr1.gif"
appr2 GIF "appr2.gif"
appr3 GIF "appr3.gif"
appr4 GIF "appr4.gif"
appr10_0 GIF "appr10_0.gif"
appr10_1 GIF "appr10_1.gif"
appr10_2 GIF "appr10_2.gif"
appr10_3 GIF "appr10_3.gif"
appr10_4 GIF "appr10_4.gif"
appr10_5 GIF "appr10_5.gif"
appr10_6 GIF "appr10_6.gif"
appr10_7 GIF "appr10_7.gif"
appr10_8 GIF "appr10_8.gif"
appr10_9 GIF "appr10_9.gif"
appr10_10 GIF "appr10_10.gif"
